image: ubuntu:focal

before_script:
  - apt-get update -yqq
  # Prevent interactive prompt when installing tzdata
  - DEBIAN_FRONTEND=noninteractive apt-get install tzdata -yqq
  # Install build dependencies
  - apt-get install build-essential verilator gcc-riscv64-unknown-elf openjdk-11-jdk -yqq
  # Install dependencies needed for adding the sbt repo
  - apt-get install apt-transport-https gnupg curl -yqq
  # Install dependencies needed for running the Proteus regression test suite
  - apt-get install python3 python3-pip -yqq
  - python3 -m pip install --user vcdvcd
  # Add keyserver for SBT
  - echo "deb https://repo.scala-sbt.org/scalasbt/debian all main" | tee /etc/apt/sources.list.d/sbt.list
  - apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv 2EE0EA64E40A89B84B2DF73499E82A75642AC823
  # Install SBT
  - apt-get update -yqq
  - apt-get install sbt -yqq
  # Log the dependency versions
  - verilator --version
  - sbt sbtVersion
  # Install morpheus toolchain
  - wget https://gitlab.kuleuven.be/u0126303/llvm-project/-/jobs/artifacts/main/download?job=build -O artefacts.zip
  - unzip artefacts.zip
  - dpkg -i morpheus.deb
  # Update all submodules (e.g., riscv-tests)
  - git submodule update --init

test:
  script:
    # Execute base RV32IM tests and Proteus regression test suite
    - make -C tests
